<%- include("header") %>
<div id="main_article">
<%- data %>
</div>
<style media="screen">
  html, body {
  height: 100%;
  }
  body {
  background-image: url('');
  }
  #main_article {
    background-color: white;
    width: 1024px;
    margin: 0 auto 0;
  }
#main_article > p > img {
    width:1024px !important;
    height:460.8px !important;
    margin: 20px auto 0;
  }
</style>
</body>
</html>
